//========== MEDIA QUERIES ==========//

//----- 1440px -----//
@media (max-width:1440px) {

    // Lista de datos
    .nav_datos {

        .nav_datos_mail {
            display: none;
        }

        .nav_datos_tel {
            margin-right: 20px;
        }
    }
}

//----- 1024px -----//
@media screen and (max-width:1024px) {

    /* ---------- NAV ---------- */
    // Nav 
    nav {
        justify-content: none;
        flex: auto;
    }

    // Logo espada
    .logoSword {
        display: none;
    }

    // ----------------------//

    /* Nav Hamburguesa */
    .check-btn img {
        margin-left: 15px;
        display: block;
        width: 30px;
    }


    .img_boton_hamburguesa {
        width: 10px;
    }


    /* Al apretar el icono hamburguesa muestro el nav mobile */
    .nav_input:checked+.nav_listMain_mobile {
        clip-path: circle(100% at center);
    }

    /* escondo el nav principal */
    .nav_listMain {
        display: none;
    }

    /* hago visible el nav mobile */
    .nav_listMain_mobile {
        display: block;
        // overflow: hidden;
        width: 75%;
        height: max-content;
        top: 100px;
        bottom: 0;
        left: 0;
        background-color: #bdbdbd;
        padding-bottom: 1px;

        position: absolute;
        display: flex;
        flex-direction: column;
        clip-path: circle(0 at center);
        /*Lo pone por encima de todo*/

        li {
            height: max-content;
            // padding: 1px 2px;
            display: flex;
            align-items: center;
            justify-content: center;


            a {
                width: 99%;
                height: max-content;
                font-size: 15px;
                font-weight: 500;
                color: white;
                background-color: $primary_background;


                display: flex;
                /*deja que el tamano del a sea igual al del contenedor*/
                justify-content: center;
                align-items: center;
            }
        }

    }


    .nav_listMain_mobile li {
        height: max-content;
        padding: 1px 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* ---------- SECCION MAIN ---------- */
    //----- seccion video -----//
    .section_video {
        height: 700px;

        iframe {
            width: 700px;
            height: 394px;
        }
    }

    //----- seccion proque moto electrica -----//
    .section_porque {
        margin-top: 0px;

        h3 {
            font-size: 22px;
            margin-bottom: 50px;
        }

        .articulo_porque {
            padding: 0 120px;

            .art_cardColum_one {
                .art_card {
                    padding: 17px;
                    font-size: 13px;

                }
            }

            .art_cardColum_two {


                .art_card {
                    padding: 17px;
                    font-size: 13px;
                }
            }
        }
    }

    /* ---------- PAGINA PRODUCTOS ---------- */
    .seccion-productos{
        .card-pr-one{
            margin: 0 40px;
            .card-productos{
                margin: 0 20px;
                width: 450px;
                img{
                    width: 250px;
                }
    
            }
        }
    
        .card-pr-two{
            margin-top: 30px;
            margin-left: 40px;
            margin-right: 40px;
            .card-productos{
                margin: 0 20px;
                width: 450px;

    
                justify-content: center;
                align-content: content;
                text-align: center;
    
                img{
                    width: 250px;
                }
    
            }
        }
    }
}


//----- 768px -----//
@media (max-width:768px) {

    /* ---------- NAV ---------- */
    // Boton Iniciar sesion
    .link_is {
        display: none;
    }

    // Lista de datos
    .nav_datos {
        .nav_datos_tel {
            display: none;
        }
    }

      /* ---------- PAGINA PRODUCTOS ---------- */
      .seccion-productos{
        margin: 40px 0 ;
          display: flex;
          flex-direction: column;
          align-items: center;
        .card-pr-one{
            flex-direction: column;
            margin: 0px 30px;
            .card-productos{
                padding: 30px 20px;
                margin: 20px 0px;
                width: 360px;
                img{
                    width: 180px;
                }
    
            }
        }
    
        .card-pr-two{
            flex-direction: column;
            margin-top: 30px;
            margin-left: 40px;
            margin-right: 40px;

            .card-productos{
                padding: 30px 20px;
                margin: 20px 0px;
                width: 360px;

    
                justify-content: center;
                align-content: content;
                text-align: center;
    
                img{
                    width: 180px;
                }
    
            }
        }
    }
}



//----- 650px -----//
@media (max-width:650px) {

    //----- seccion proque moto electrica -----//
    .section_porque {
        .articulo_porque {

            .art_cardColum_two {
                display: none;
            }
        }
    }
}



//----- 480px -----//
@media (max-width:480px) {

    /* ---------- NAV ---------- */
    nav {
        height: 70px;
    }

    .nav_listMain_mobile {
        top: 70px;
    }

    // Logo string
    .logoString {
        width: 152px;
        padding: 19px 20px;
    }

    // Boton Jugar
    .nav_listRight {
        .nav_listRight-btnJugar {
            background-color: #f19100;
            color: #000000;
            padding: 22px 28px;
        }
    }

    // Enlaces del boton hamburguesa
    .nav_listMain_mobile {
        li {
            a {
                font-size: 12px;
            }
        }
    }


    /* ---------- HEADER ---------- */
    header {
        height: 350px;

        .header_text {

            h1 {
                font-size: 25px;
            }

            p {
                font-size: 15px;
            }
        }
    }

    /* ---------- SECCION MAIN ---------- */
    .section_video {
        height: 400px;

        iframe {
            width: 375px;
            height: 210px;
        }
    }

    //----- seccion proque moto electrica -----//
    .section_porque {
        margin-top: 0px;

        h3 {
            font-size: 19px;
            margin-bottom: 35px;
        }

        .articulo_porque {
            flex-direction: column;
            padding: 0 60px;

            .art_cardColum_one {
                .art_card {
                    padding: 17px;
                    font-size: 13px;

                }
            }

            .art_cardColum_two {
                display: none;
            }
        }
    }

          /* ---------- PAGINA PRODUCTOS ---------- */
          .seccion-productos{
            margin: 20px 0 ;
              display: flex;
              flex-direction: column;
              align-items: center;
            .card-pr-one{
                flex-direction: column;
                margin: 0px 30px;
                .card-productos{
                    padding: 30px 20px;
                    margin: 20px 0px;
                    width: 280px;
                    img{
                        width: 150px;
                    }
        
                }
            }
        
            .card-pr-two{
                flex-direction: column;
                margin-top: 30px;
                margin-left: 40px;
                margin-right: 40px;
    
                .card-productos{
                    padding: 30px 20px;
                    margin: 20px 0px;
                    width: 280px;
    
        
                    justify-content: center;
                    align-content: content;
                    text-align: center;
        
                    img{
                        width: 150px;
                    }
        
                }
            }
        }
}