//Resetea los estilos del navegador
@import "reset";
//Fuente del proyecto
@import "font";
//Variables de todo el proyecto 
@import "variables";

//----- Contenedor del main -----//
.main-wrapper{
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
}

main{
    width: 100%;
    height: max-content
}

//====== NAV ======//
@import "nav";


//====== HEADER ======//
@import "header";

//====== SECCION MAIN ======//
@import "seccion_main";

//====== FOOTER ======//
@import "footer";


//====== MEDIA QUERIES ======//
@import "mediaqueries";

