//========== PRODUCTOS ==========//
.productos-wrapper {
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
}

//7.-MIXIN MARGIN
@mixin margin($margtop, $marbt) {
    margin-top: $margtop;
    margin-bottom: $marbt;
}

.titulo-pag {
    @include margin(40px, 30px, );
    font-size: 28px;
    color: $primary_background;
    text-align: center;
}

.seccion-productos {
    margin: 70px 0;

    .card-pr-one {
        display: flex;
        justify-content: center;

        //EXTEND CARD
        .card {
            margin: 0 50px;
            padding: 30px 50px;
            width: 550px;
            border: 0.5px solid rgb(204, 204, 204);
        }

        .card-productos {
            @extend .card;

            justify-content: center;
            align-content: content;
            text-align: center;

            img {
                width: 300px;
            }
            $h3: map-get($headings,h3);
            h3 {
                margin: 20px 0;
                font-size: $h3;
                color: $primary_background;
            }

            p {
                text-align: left;
            }

        }
    }

    .card-pr-two {
        margin-top: 30px;
        display: flex;
        justify-content: center;

        //EXTEND CARD
        .card {
            margin: 0 50px;
            padding: 30px 50px;
            width: 550px;
            border: 0.5px solid rgb(204, 204, 204);
        }

        .card-productos {
            @extend .card;


            justify-content: center;
            align-content: content;
            text-align: center;

            img {
                width: 300px;
            }
            $h3: map-get($headings,h3);
            h3 {
                color: $primary_background;
                margin: 20px 0;
                font-size: $h3;
            }

            p {
                text-align: left;
            }


        }
    }
}